d aprs/filter str all
d aprs/injectme int 0
d aprs/maxage int 3600
d aprs/maxdist int 0
d aprs/maxmsgage int 604800
d aprs/showme int 1
d aprs/sort str distance
d aprs/stat str www.loopfree.net/xlaprs/    
d aprs/sym str j
d aprs/symtab str /
d aprs/tx/enable int 1
d aprs/tx/fast_rate int 117
d aprs/tx/fast_speed int 60
d aprs/tx/slow_rate int 1200
d aprs/tx/slow_speed int 6
d aprs/tx/turn_angle int 50
d aprs/tx/turn_slope int 200
d aprs/tx/turn_time int 45
d display/enable int 1
d display/port int 0
d gps/enable int 1
d gps/port int 1
d gps/type str m12
d misc/debug int 0
d misc/tz int -8
d tnc/enable int 1
d tnc/mycall str AD6XL-1  
d tnc/path str WIDE1-1                       
d tnc/port int 2
d tnc/unproto str APZ242
m aprs/filter str choices:all/digis/moving/wx
m aprs/injectme str isbool:1
m aprs/maxage str max:32000
m aprs/maxdist str max:1000
m aprs/maxmsgage int max:604800
m aprs/showme str isbool:1
m aprs/sort str choices:time/distance/bearing/alpha
m aprs/stat str max:28
m aprs/sym str max:1
m aprs/symtab str max:1
m aprs/tx/enable str isbool:1
m aprs/tx/fast_rate str max:300
m aprs/tx/fast_speed str max:100
m aprs/tx/slow_rate str max:36000
m aprs/tx/slow_speed str max:30
m aprs/tx/turn_angle str max:359
m aprs/tx/turn_slope str max:10000
m aprs/tx/turn_time str max:600
m display/enable str isbool:1
m display/port str min:0 max:15
m gps/enable str isbool:1
m gps/port str min:0 max:15
m gps/type str choices:m12/nmea
m misc/debug str isbool:1
m misc/tz str max:12 min:-12
m tnc/enable str isbool:1
m tnc/mycall str max:9
m tnc/path str max:30
m tnc/port str min:0 max:15
m tnc/unproto str max:9
